<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.elmboot.mapper.BusinessMapper">
    <resultMap type="com.neusoft.elmboot.po.Business" id="businessResultMap">
        <id column="businessId" property="businessId"/>
        <result column="businessName" property="businessName"/>
        <result column="businessAddress" property="businessAddress"/>
        <result column="businessExplain" property="businessExplain"/>
        <result column="businessImg" property="businessImg"/>
        <result column="orderTypeId" property="orderTypeId"/>
        <result column="starPrice" property="starPrice"/>
        <result column="deliveryPrice" property="deliveryPrice"/>
        <result column="remarks" property="remarks"/>
    </resultMap>

    <select id="listBusinessByUserId" parameterType="com.neusoft.elmboot.po.Business" resultMap="businessResultMap">
        SELECT * FROM (
                          SELECT COUNT(o.orderId) num,b.businessId,b.businessAddress,b.businessExplain,b.businessImg,b.businessName,b.deliveryPrice,b.orderTypeId,b.remarks,b.starPrice,o.orderId
                          FROM business b LEFT OUTER JOIN (
                              SELECT orders.businessId,orders.orderId FROM orders WHERE orders.userId=#{userId}
                          ) o
                                                          ON o.businessId = b.businessId GROUP BY b.businessId) a
        ORDER BY a.num DESC
    </select>
</mapper>