<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.elmboot.mapper.CreditRecordMapper">
    <insert id="insertCreditRecord" parameterType="CreditRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO creditrecord
        <trim prefix="(" suffix=")" suffixOverrides=",">
           		userId,ruleCode,credit,createTime,
            <if test="eventId != null and eventId != ''">
                eventId,
            </if>
            <if test="expiredTime != null and expiredTime != ''">
                expiredTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            	#{userId},#{ruleCode},#{credit},#{createTime},
            <if test="eventId != null and eventId != ''">
                #{eventId},
            </if>
            <if test="expiredTime != null and expiredTime != ''">
                #{expiredTime},
            </if>
        </trim>
    </insert>
</mapper>